<%= render "statistics" %>

    <% current_user.logs.each do |log| %>
    <hr>
    <p><%= log.created_at.strftime("%A, %d %b %Y")%></p>
    <hr>

    <h4>Log:</h4> <p><i><%= log.content %></i></p><br>

    <%= bar_chart "Overall" => current_user.average_overall, "Before" => log.before_rating, "After" => log.after_rating %>
    
    <h4>Tags:</h4>
    <% log.tags.uniq.each do |tag| %>
         #<%= tag.name %>
    <% end %>

    <% log.lady_bugs.each do |lady_bug| %>
        <%= lady_bug.content %>
    <% end %>

<% end %>