<% provide(:about, "active") %>
<% provide(:title, "User Log") %>

<div class="container">
	<h2>Your logs</h2>
		<ul>
		<% current_user.logs.each do |log| %>
		<div>
		<br>
		
		<%= log.created_at.strftime("%B %d, %Y / %I:%m%p")%><br>
		<b>negative thought:</b> <%= log.content %></li><br>
		<b>when you started this session your mood was at a:</b> <%= log.before_rating %><br>
		<b>when you completed this session your mood was at a:</b> <%= log.after_rating %><br>
		<% log.tags.each do |tag| %>
		<b>tags:</b> <%= tag.name %><br>

		<ul>
		<% log.lady_bugs.each do |lady_bug| %>
			<li><%= lady_bug.content %></li>
			<%end%>
		<% end %>
		</ul>
		</div>
		<% end %>
</div>