<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <%= link_to "LadyBug", root_path, id: "logo" %>

      <ul class="nav navbar-nav navbar-right">
        <li class="<% yield(:home) %>"><%= link_to "Home", root_path %></li>
        <li class="<% yield(:about) %>"><%= link_to "About", about_path %></li>

        <li class="<% yield(:thoughts) %>"><%= link_to "Thoughts", "#" %></li>
        <li class="<% yield(:ladybugs) %>"><%= link_to "Ladybugs", "#" %></li>
          
        <li class="dropdown"> 
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Account <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", "#" %></li>
              <li><%= link_to "Settings", "#" %></li>
              <li class="divider"></li>
              <% if current_user %> 
              <li><%= link_to "Log Out", logout_path, method: "delete"%></li>
              <% else %>
                <li><%=link_to "Log In", login_path %></li>
              <% end %>
            </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>