<h1>Feeling Log</h1>

<%= simple_form_for @log do |f| %>
  <%= f.input :before_rating, collection: 1..10 %>
  <%= f.input :content %>
  <%= f.association :belief, as: :check_boxes %>
  <%= f.association :distortion, as: :check_boxes %>
  <%= f.association :tags, as: :check_boxes %>
  <%= f.input :lady_bugs, collection: @ladybugs, as: :grouped_select, group_method: :content %>
  <%= f.input :after_rating, collection: 1..10 %>
  <%= f.button :submit %>
<% end %>