<h1>Feeling Log</h1>

<%= simple_form_for @log do |f| %>
  <%= f.input :before_rating, collection: 1..10 %>
  <%= f.input :content %>
  <%= f.association :belief, as: :radio_buttons,  item_label_class: "radio-inline", item_wrapper_tag: false%>
  <%= f.association :distortion, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false %>
  <%= f.association :tags, as: :check_boxes, item_label_class: "radio-inline", item_wrapper_tag: false %>
  <%= f.association :lady_bugs, label_method: :content %>
  <%= f.input :after_rating, collection: 1..10 %>
  
  <%= f.button :submit %>
<% end %>

