<%= simple_form_for @log do |f| %>

  <div class="range-wrapper">
    <input type="range" min="0" max="10" name="log[before_rating]" id="log_before_rating">
    <div class="text">1</div>
  </div>


  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.input :content, placeholder: "What's making you feel bad?", class: "form-control"%>
    </div>
  </div>

  <%= f.association :distortion, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false %>

  <%= f.association :tags, collection: Tag.get_tags_for_a_user(current_user.id), as: :check_boxes, item_label_class: "radio-inline", item_wrapper_tag: false %>

  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
    <%= f.input :tag_new, placeholder: "New Tags (ex. #love #drama #summer2015)"%>
    </div>
  </div>
  <br>
  <%= f.association :lady_bugs, collection: LadyBug.get_ladybugs_for_a_user(current_user.id), label_method: :content %>

  <div class="range-wrapper">
    <input type="range" min="0" max="10" name="log[after_rating]" id="log_after_rating">
    <div class="text">1</div>
  </div>

  <%= f.button :submit, class: "btn btn-success btn-lg" %>

<% end %>