<!DOCTYPE html>
<html>
<head>
  <title>Ladybug</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<<<<<<< HEAD
<div class="container">
<%= yield %>
</div>
=======

<%= render "freelancers/navigation" %>
  <div class="container">
  <%= yield %>
  </div>
<%= render "freelancers/character" %>
<%= render "freelancers/footer" %>

>>>>>>> 5420074aac89e9f9fab6dd5355c7fecec2036286

</body>
</html>